<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1>TRAIN LIKE A SAIYAN</h1>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>

      <a href="/workouts/new" class="navbar-item">
        Create Workout
      </a>
      <% if (typeof user !== "undefined") { %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/user/<%= user.id %> " class="navbar-link">
          Profile  
        </a>
        <% } %> 

        <div class="navbar-dropdown">
          <a href="/logout"class="navbar-item">
            Logout
          </a>
          
        </div>
      </div>
    </div>
  </div>
</nav>