h1 {
  color: #F85B1A;
}
#story-container{
  display: flex;
  flex-direction: row;
}
body {
  background-color: #072083;
}
img {
  height: 200px;
  width: 230px;
  border-radius: 5px;
  margin: 5px;
}
nav {
  background-color: #F85B1A;
}
.card {
  text-align: center;
  background-color: #072083
}

.button {
  margin: 10px;
  padding: 10px;
}

h4 {
  color: #F85B1A;
}

.card {
  padding: 10px;
  margin: 10px;
}

.form {
  padding: 10px;
  margin: 10px;
}

#profile_card {
  display: flex;
  justify-content: center;
  align-items: center;

}